.DS_Store
.vagrant
.idea/
/frontend/node_modules/
npm-debug.log
/playbooks/vagrant.retry
# phpstorm project files
.idea

# composer vendor dir
/backend/basic/vendor

/backend/basic/tests/_output/*
/backend/basic/tests/_support/_generated
/backend/basic/api/runtime/*
